* {
    margin: 0;
    padding: 0;
  }
  .fundo {
    background-image: linear-gradient(to top, black, #9600FF, #AEBAF8);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .calculadora {
    position: absolute;
    background-image: linear-gradient(to top, #9600FF, #AEBAF8);
    /*background-color: rgba(194, 181, 181, 0.8);*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
  }
  .botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    border: none;
    color: white;
  }
  .botao:hover {
    background-color: black;
  }
  #visorCima {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    border-radius: 8px;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #visor {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    border-radius: 8px;
    text-align: right;
    overflow-x: auto;
    overflow-y: hidden;
  }
  ::-webkit-scrollbar {
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: gray;
  }
  ::-webkit-scrollbar-thumb {
    background-color: crimson;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(144, 7, 35);
  }